<main class="m-2">
  <section class="flex flex-column md:flex-row  md:align-items-center justify-content-between mb-5">
    <div class="flex flex-grow-1 align-items-center flex-basis-0">
      <p-button 
        label="Volver" 
        icon="pi pi-arrow-left" 
        severity="secondary"
        [text]="true"
        (onClick)="back()" 
      />
    </div>
    <div class="flex flex-grow-1 align-items-center justify-content-center md:justify-content-start">
      <h1 class="txt-title text-5xl my-0">Nueva aplicación</h1>
    </div>
  </section>
  
  <div *ngIf="isLoading; else newAppForm" class="card flex justify-content-center my-6">
    <p-progressSpinner ariaLabel="loading" />
  </div>

  <ng-template #newAppForm class="mt-6">
    <section class="main-container p-1 mt-2 md:p-4">
      <form [formGroup]="formFiles">
        <p-steps [model]="headers" [(activeIndex)]="activeIndex"
          [readonly]="true" class="stepper-opcs"
        />
        <section *ngIf="activeIndex === 0" class="stepper-panel h-23rem border-round surface-ground">
          <p>Selecciona la acción a realizar:</p>
          <div class="flex flex-column gap-3">
            <div *ngFor="let opc of actionsOps" class="field-checkbox">
              <p-radioButton 
                [value]="opc.value" 
                formControlName="action"
                (onClick)="changeRadioAction($event)"
                [inputId]="opc.txt"
              />
              <label [for]="opc.txt" class="ml-2">
                {{ opc.txt }}
              </label>
            </div>
          </div>
          <div *ngIf="formFiles.get('action')?.value === 3" class="flex flex-column justify-content-center align-items-center mb-3">
            <p>Selecciona el lenguaje al que se quiere migrar:</p>
            <div class="w-16rem"> 
              <p-dropdown 
                formControlName="language"
                [options]="lenguagesOps"
                optionLabel="nom_lenguaje"
                optionValue="idu_lenguaje"
                placeholder="Selecciona un lenguaje"
                [style]="{width : '100%'}"
              />
            </div>
            <span class="font-italic text-red-500 mt-2"
              *ngIf="formFiles.get('language')?.value === null && formFiles.get('language')?.touched" >
                Debes seleccionar un lenguaje.
            </span>
          </div>
        </section><!-- Panel Accion del proyecto -->
     
        <section *ngIf="activeIndex === 1" class="stepper-panel h-23rem border-round surface-ground justify-content-evenly gap-3">
          <div class="flex flex-column justify-content-center align-items-center ">
            <div class="flex flex-grow-1 align-items-center flex-basis-0 text-bluegray-400 mb-4">
              <p class="m-0">Acción: <b class="txt-acent">{{ projectAction }}</b></p>
            </div>
            <div class="flex flex-column flex-grow-1 align-items-center justify-content-center">
              <p>Servicios adicionales:</p>
              <div class="card flex justify-content-center">
                <div class="flex flex-column gap-2">
                    <div *ngFor="let option of actionArchitec" class="field-checkbox">
                        <p-checkbox 
                            [formControlName]="option.form"
                            [label]="option.txt"
                            [name]="option.form"
                            value="true"
                          />
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section><!-- Panel Arquitectura del proyecto -->
        
        <section *ngIf="activeIndex === 2" class="stepper-panel h-23rem border-round surface-ground">
          <p>Selecciona el tipo de proyecto que se subirá:</p>
          <div class="flex gap-3">
            <div class="flex align-items-center mx-3 py-2 px-3" *ngFor="let option of radioOps">
              <p-radioButton 
                [inputId]="option.value" [value]="option.value" 
                formControlName="type"
              />
              <label [for]="option.value" class="ml-3 label-btn">
                <img 
                  src="assets/images/{{option.image}}" 
                  [alt]="option.value"
                  [pTooltip]="option.tooltip" 
                  tooltipPosition="bottom"
                >
              </label>
            </div>
          </div>
        </section><!-- Panel Tipo de proyecto -->

        <section *ngIf="activeIndex === 3" class="stepper-panel h-23rem border-round surface-ground">
          <div *ngIf="formFiles.get('type')?.value === 'zip'" class="w-full">
            <p class="text-center">Selecciona el archivo <b>.zip</b> o <b>.7z</b> de tu proyecto:</p>
            <div class="flex-auto flex flex-column justify-content-center align-items-center w-full">
              <div class="max-w-full" [style.width]="txtSizeFile + 'px'">    
                <p-inputGroup>
                  <button type="button" pButton class="btn-rvia" label="Buscar" (click)="triggerFileInput('zip')"></button>
                  <input type="text" pInputText 
                    id="inputNameZip"
                    placeholder="Selecciona tu proyecto" 
                    readonly disabled="true"
                    [value]="formFiles.get('zipFile')?.value?.name ?? ''"/>
                </p-inputGroup>
                <span id="input-span" #inputspan style="visibility: hidden; white-space: nowrap;"></span>
              </div>
              <span *ngIf="isUploadFile" class="mt-2 font-italic text-500" >Cargando ...</span>
              <p-button *ngIf="formFiles.get('zipFile')?.value !== null && !isUploadFile" 
                label="Limpiar" [link]="true" (onClick)="cleanInput('project')"/>
              <input id="input-zip" type="file" #zipInput accept=".zip, .7z" (change)="onFileSelected($event, 'zipFile')" style="display: none;">
            </div>
            <div class="flex-auto flex flex-column justify-content-center align-items-center w-full">
              <span *ngIf="formFiles.get('zipFile')?.errors?.['invalidType']" class="mt-1 font-italic text-red-500">
                Error al cargar el archivo, extensiones validas <b>.zip</b> y <b>.7z</b>
              </span>
              <span *ngIf="formFiles.get('zipFile')?.errors?.['invalidName']" class="mt-1 font-italic text-red-500">
                Error al cargar el archivo, el archivo <b> no puede contener espacios</b> en el nombre.
              </span>
            </div>
          </div>
          <div *ngIf="formFiles.get('type')?.value === 'git'">
            <p class="text-center">Ingresa la <b>URL</b> del repositorio de tu proyecto en Gitlab o Github:</p>
            <div class="flex-auto flex flex-column justify-content-center align-items-center">
              <input type="text" pInputText formControlName="urlGit" placeholder="URl de tu proyecto" id="inputUrlGit"/>
              <p-button *ngIf="formFiles.get('urlGit')?.value !== null" 
                label="Limpiar" [link]="true" (onClick)="cleanInput('project')"/>
            </div>
            <div class="flex-auto flex flex-column justify-content-center align-items-center">
              <span *ngIf="formFiles.get('urlGit')?.errors" class="mt-3 font-italic text-red-500">
                URL inválida.
              </span>
            </div>
          </div>
        </section> <!-- Panel Projecto zip/7z o github/gitlab-->

        <section *ngIf="activeIndex === 4 && selectedValue === NumberAction.SANITIZECODE" class="stepper-panel h-23rem border-round surface-ground">
          <div class="flex flex-column align-items-center justify-content-center">
            <p>Puedes añadir el archivo <b>.pdf</b> de las vulnerabilidades de tu proyecto.</p>
            <div class="w-21rem">
              <p-inputGroup>
                <button type="button" pButton class="btn-rvia" label="Buscar" (click)="triggerFileInput('pdf')"></button>
                <input type="text" pInputText placeholder="Selecciona tu pdf"
                readonly disabled="true" id="inputpdfFile"
                [value]="formFiles.get('pdfFile')?.value?.name ?? ''"/>
              </p-inputGroup>
            </div>
            <span *ngIf="isUploadFile" class="mt-2 font-italic text-500" >
              Cargando ...
            </span>
            <p-button *ngIf="formFiles.get('pdfFile')?.value !== null && !isUploadFile" 
              label="Limpiar" [link]="true" (onClick)="cleanInput('pdf')"/>
            <input id="input-pdf" type="file" #pdfInput accept=".pdf" (change)="onFileSelected($event, 'pdfFile')" style="display: none;">
            <span *ngIf="formFiles.get('pdfFile')?.errors" class="mt-4 font-italic text-red-500" >
              Error al cargar el archivo, extensión valida <strong>.pdf</strong> 
            </span>
          </div>
        </section><!-- Panel PDF opcional -->
        
        <section *ngIf="(activeIndex === 4  && selectedValue !== NumberAction.SANITIZECODE) || (activeIndex === 5  && selectedValue === NumberAction.SANITIZECODE) " 
          class="stepper-panel h-23rem border-round surface-ground">
          <p>Se subirá tu proyecto con los siguientes elementos: </p>
          <div>
            <p>Acción: <b>{{ projectAction  }}</b></p>
            <p>Servicio adicional: <b>{{ servicesProject }}</b></p>
            <p *ngIf="selectedValue === NumberAction.MIGRATION && formFiles.get('language')?.value !== null">
              Lenguaje para migrar: <b>{{ projectLanguage }}</b>
            </p>
            <p>Tipo de proyecto: <b>{{ projectType }} </b></p>
            <p> Proyecto en: <b>{{ projectName }}</b> </p>
            <p *ngIf="selectedValue === NumberAction.SANITIZECODE">
              PDF: <b> {{ projectPDF }} </b>
            </p>
          </div> 
        </section><!-- Panel Resumen--> 

        <section class="flex pt-2">
            <p-button label="Regresar" icon="pi pi-arrow-left"
                [outlined]="true" (onClick)="changeStep(-1)" 
                [disabled]="activeIndex === 0"
                class="btn-rvia-outlined"
                *ngIf="activeIndex !== 0 && !(activeIndex === headers.length - 1 && isUploadProject)"
            />
            <button *ngIf="activeIndex !== headers.length - 1; else lastBtn"
              pButton label="Siguiente" icon="pi pi-arrow-right"
              iconPos="right" class="p-button ml-auto btn-rvia"
              [disabled]="checkDisabled()"
              (click)="changeStep(+1)"
            >
            </button> 
            <ng-template #lastBtn>
                <p-button 
                  [label]="isUploadProject ? 'Subiendo' : 'Subir proyecto'"
                  severity="success" icon="pi pi-arrow-right"
                  iconPos="right" class="ml-auto"
                  (onClick)="uploadFiles()"
                  [loading]="isUploadProject"
                  [disabled]="isUploadProject"
                />
            </ng-template>
        </section>
      </form>
    </section>
  </ng-template>
</main>