.main-container, .stepper-opcs{
  background-color: #fff;
}

.stepper-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1rem;
  margin-top: 0.5rem;

  .label-btn{
    border: none; 
    cursor: pointer;
  
    img {
      height: 50px;
      width: 50px;
    }
  }
}