.main-container, .stepper-opcs{
  background-color: #fff;
}

.stepper-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1rem;
  margin-top: 0.5rem;

  .label-btn{
    border: none; 
    cursor: pointer;
  
    img {
      height: 50px;
      width: 50px;
    }
  }
}

:host ::ng-deep .p-steps-item-active .p-steps-item-label{
  color: var(--rvia-primary-color);
}

:host ::ng-deep .p-steps-item-active .p-steps-item-number{
  border-color: var(--rvia-primary-color);
  background-color: var(--rvia-primary-color);
  color: white;
} 

:host ::ng-deep .p-steps-item.p-disabled {
  opacity: 0.2;
}

::ng-deep .apps-panel {
  max-width: 30vw !important;
  overflow-x: auto !important;
  width: auto !important;
}
