<main class="m-2">
  <section ion class="flex flex-col md:flex-row md:items-center justify-between mb-5">
    <div class="flex flex-grow-1 items-center flex-basis-0">
      <p-button 
        label="Volver" 
        icon="pi pi-arrow-left" 
        variant="text" 
        severity="secondary"  
        (onClick)="back()" 
      />
    </div>
    <div class="flex flex-grow-1 items-center justify-center md:justify-start">
      <h1 class="txt-tiltle-color text-5xl my-0">Nueva aplicación</h1>
    </div>
  </section>
  
  <div *ngIf="isLoading; else newAppForm" class="card flex justify-center mt-12">
    <span class=" loader"></span>
  </div>

  <ng-template #newAppForm class="mt-8">
    <section class="main-container p-1 mt-2 md:p-4">
      <form [formGroup]="formFiles">
        <p-steps [model]="headers" [(activeIndex)]="activeIndex"
          [readonly]="true" class="stepper-opcs"
        />
        <!-- Panel Accion del proyecto -->
        <section *ngIf="activeIndex === 0" class="stepper-panel h-[23rem] rounded surface-ground">
          <p class="mb-3">Selecciona la acción a realizar:</p>
          <div class="flex flex-col gap-6">
            <div *ngFor="let opc of actionsOps" class="field-checkbox">
              <p-radioButton 
                  [value]="opc.value"
                  name="action"
                  [inputId]="opc.txt"
                  (onClick)="changeRadioAction($event)"
                  formControlName="action"
                  size="large"
                />

              <label [for]="opc.txt" class="ml-2">{{ opc.txt }}</label>
            </div>            
          </div>
          <div *ngIf="formFiles.get('action')?.value === 3" class="flex flex-col justify-center items-center mb-3">
            <p>Selecciona el lenguaje al que se quiere migrar:</p>
            <div class="w-16rem"> 
              <p-dropdown 
                formControlName="language"
                [options]="lenguagesOps"
                optionLabel="nom_lenguaje"
                optionValue="idu_lenguaje"
                placeholder="Selecciona un lenguaje"
                [style]="{ width : '100%' }"
              />
            </div>
            <span class="font-italic text-red-500 mt-2"
              *ngIf="formFiles.get('language')?.value === null && formFiles.get('language')?.touched" >
                Debes seleccionar un lenguaje.
            </span>
          </div>
        </section>
        <!-- Panel Accion del proyecto -->
        
        <!-- Panel Tipo de proyecto -->
        <section *ngIf="activeIndex === 1" class="stepper-panel h-[23rem] rounded surface-ground">
          <p class="mb-4">Selecciona el tipo de proyecto que se subirá:</p>
          <div class="flex gap-6">
            <div class="flex items-center mx-3 py-2 px-3" *ngFor="let option of radioOps">
              <p-radioButton 
                [inputId]="option.value" [value]="option.value" 
                formControlName="type"
              />
              <label [for]="option.value" class="ml-3 label-btn">
                <img 
                  src="assets/images/{{option.image}}" 
                  [alt]="option.value"
                  [pTooltip]="option.tooltip" 
                  tooltipPosition="bottom"
                >
              </label>
            </div>
          </div>
        </section>
        <!-- Panel Tipo de proyecto -->

        <!-- Panel Projecto zip/7z o github/gitlab-->
        <section *ngIf="activeIndex === 2" class="stepper-panel h-[23rem] rounded surface-ground"> <!-- Sin Panel Arquitectura del proyecto -->
          <div *ngIf="formFiles.get('type')?.value === 'zip'" class="w-full">
            <p class="text-center mb-4">Selecciona el archivo <b>.zip</b> o <b>.7z</b> de tu proyecto:</p>
            <div class="flex-auto flex flex-col justify-center items-center w-full">
              <div class="max-w-full" [style.width]="txtSizeFile + 'px'">    
                <p-inputGroup>
                  <button type="button" pButton class="btn-rvia" label="Buscar" (click)="triggerFileInput('zip')"></button>
                  <input type="text" pInputText 
                    id="inputNameZip"
                    placeholder="Selecciona tu proyecto" 
                    readonly disabled="true"
                    [value]="formFiles.get('zipFile')?.value?.name ?? ''"/>
                </p-inputGroup>
                <span id="input-span" #inputspan style="visibility: hidden; white-space: nowrap;"></span>
              </div>
              <span *ngIf="isUploadFile" class="mt-2 font-italic text-500" >Cargando ...</span>
              <p-button *ngIf="formFiles.get('zipFile')?.value !== null && !isUploadFile" 
                label="Limpiar" [link]="true" (onClick)="cleanInput('project')"/>
              <input id="input-zip" type="file" #zipInput accept=".zip, .7z" (change)="onFileSelected($event, 'zipFile')" style="display: none;">
            </div>
            <div class="flex-auto flex flex-col justify-center items-center w-full">
              <span *ngIf="formFiles.get('zipFile')?.errors?.['invalidType']" class="mt-1 font-italic text-red-500">
                Error al cargar el archivo, extensiones validas <b>.zip</b> y <b>.7z</b>
              </span>
              <span *ngIf="formFiles.get('zipFile')?.errors?.['invalidName']" class="mt-1 font-italic text-red-500">
                Error al cargar el archivo, el archivo <b> no puede contener espacios</b> en el nombre.
              </span>
            </div>
          </div>
          <div *ngIf="formFiles.get('type')?.value === 'git'">
            <p class="text-center mb-4">Ingresa la <b>URL</b> del repositorio de tu proyecto en Gitlab o Github:</p>
            <div class="flex-auto flex flex-col justify-center items-center">
              <input type="text" pInputText formControlName="urlGit" placeholder="URl de tu proyecto" id="inputUrlGit"/>
              <p-button *ngIf="formFiles.get('urlGit')?.value !== null" 
                label="Limpiar" [link]="true" (onClick)="cleanInput('project')"/>
            </div>
            <div class="flex-auto flex flex-col justify-center items-center">
              <span *ngIf="formFiles.get('urlGit')?.errors" class="mt-3 font-italic text-red-500">
                URL inválida.
              </span>
            </div>
          </div>
        </section> 
        <!-- Panel Projecto zip/7z o github/gitlab-->

        <!-- Panel PDF -->
        <section *ngIf="activeIndex === 3 && selectedValue === NumberAction.SANITIZECODE" class="stepper-panel h-[23rem] rounded surface-ground">
          <div class="flex flex-col items-center justify-center w-full">
            <p class="mb-4">Puedes añadir el archivo <b>.pdf</b> de las vulnerabilidades de tu proyecto.</p>
            <div class="max-w-full" [style.width]="txtSizepdfFile + 'px'">
              <p-inputGroup>
                <button type="button" pButton class="btn-rvia" label="Buscar" (click)="triggerFileInput('pdf')"></button>
                <input type="text" pInputText placeholder="Selecciona tu pdf"
                readonly disabled="true" id="inputpdfFile"
                [value]="formFiles.get('pdfFile')?.value?.name ?? ''"/>
              </p-inputGroup>
              <span id="input-span-pdf" #inputspanpdf style="visibility: hidden; white-space: nowrap;"></span>
            </div>
            <span *ngIf="isUploadFile" class="mt-2 font-italic text-500" >
              Cargando ...
            </span>
            <p-button *ngIf="formFiles.get('pdfFile')?.value !== null && !isUploadFile" 
              label="Limpiar" [link]="true" (onClick)="cleanInput('pdf')"/>
            <input id="input-pdf" type="file" #pdfInput accept=".pdf" (change)="onFileSelected($event, 'pdfFile')" style="display: none;">
            <span *ngIf="formFiles.get('pdfFile')?.errors" class="mt-4 font-italic text-red-500" >
              Error al cargar el archivo, extensión valida <strong>.pdf</strong> 
            </span>
          </div>
        </section>
        <!-- Panel PDF -->

        <!-- Panel Arquitectura -->
        <section  *ngIf="activeIndex === 3 && selectedValue === NumberAction.NONE" class="stepper-panel h-[23rem] rounded surface-ground justify-content-evenly gap-3">
          <div class="flex flex-col justify-center items-center ">
            <div class="flex flex-col flex-grow-1 items-center justify-center">
              <p class="mb-6">Selecciona los servicios que deseas generar:</p>
              <div class="card flex justify-center">
                <div class="flex flex-col gap-4">
                  <div *ngFor="let option of actionArchitec" class="field-checkbox"
                        [ngClass]="{
                          'p-disabled': 
                            option.form === 'archiDocCodeOpt' && formFiles.get('archiDocCodeOpt')?.disabled ||
                            option.form === 'archiCasesOpt' && formFiles.get('archiCasesOpt')?.disabled ||
                            option.form === 'archiRateOpt' && formFiles.get('archiRateOpt')?.disabled
                        }">
                      
                      <p-radioButton 
                        [inputId]="option.form" 
                        [value]="option.form"
                        name="architecSelected"
                        formControlName="architecSelected"
                        (onClick)="onRadioClick(option.form)"
                        size="large"
                      />
                      <label [for]="option.form" class="ml-2">{{ option.txt }}</label>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Panel Arquitectura -->

        <section *ngIf="(activeIndex === 4  && (selectedValue === NumberAction.NONE || selectedValue === NumberAction.SANITIZECODE)) ||
            (activeIndex === 3  && (selectedValue === NumberAction.UPDATECODE || selectedValue === NumberAction.MIGRATION) )" 
          class="stepper-panel h-[23rem] rounded surface-ground">
          <p class="mb-6">Se subirá tu proyecto con los siguientes elementos: </p>
          <div class="flex flex-col gap-4">
            <p>Acción: <b>{{ projectAction  }}</b></p>
            @if (selectedValue === NumberAction.NONE && servicesProject !== null) {
              <p>Servicios de arquitectura: <b>{{ servicesProject }}</b></p>
            }
            @if(selectedValue === NumberAction.MIGRATION && formFiles.get('language')?.value !== null){
              <p>
                Lenguaje para migrar: <b>{{ projectLanguage }}</b>
              </p>
            }
            <p>Tipo de proyecto: <b>{{ projectType }} </b></p>
            <p>Proyecto en: <b>{{ projectName }}</b> </p>
            @if(selectedValue === NumberAction.SANITIZECODE){
              <p>PDF: <b> {{ projectPDF }} </b></p>
            }
          </div> 
        </section><!-- Panel Resumen--> 

        <section class="flex pt-2">
            <p-button label="Regresar" icon="pi pi-arrow-left"
                [outlined]="true" (onClick)="changeStep(-1)" 
                [disabled]="activeIndex === 0"
                class="btn-rvia-outlined"
                *ngIf="activeIndex !== 0 && !(activeIndex === headers.length - 1 && isUploadProject)"
            />
            <button *ngIf="activeIndex !== headers.length - 1; else lastBtn"
              pButton label="Siguiente" icon="pi pi-arrow-right"
              iconPos="right" class="p-button ml-auto btn-rvia"
              [disabled]="checkDisabled()"
              (click)="changeStep(+1)"
            >
            </button> 
            <ng-template #lastBtn>
                <p-button 
                  [label]="isUploadProject ? 'Subiendo' : 'Subir proyecto'"
                  severity="success" icon="pi pi-arrow-right"
                  iconPos="right" class="ml-auto"
                  (onClick)="uploadFiles()"
                  [loading]="isUploadProject"
                  [disabled]="isUploadProject"
                />
            </ng-template>
        </section>
      </form>
    </section>
  </ng-template>
</main>