<main class="m-2">
  <section class="flex flex-column md:flex-row  md:align-items-center justify-content-between mb-5">
    <div class="flex flex-grow-1 align-items-center flex-basis-0">
      <p-button 
        label="Volver" 
        icon="pi pi-arrow-left" 
        severity="secondary"
        [text]="true"
        (onClick)="back()" 
      />
    </div>
    <div class="flex flex-grow-1 align-items-center justify-content-center md:justify-content-start">
      <h1 class="text-5xl my-0">Nueva aplicación</h1>
    </div>
  </section>
  
  <div *ngIf="isLoading; else newAppForm" class="card flex justify-content-center my-6">
    <p-progressSpinner ariaLabel="loading" />
  </div>

  <ng-template #newAppForm class="mt-6">
    <section class="main-container p-1 mt-2 md:p-4">
      <form [formGroup]="formFiles">
        <p-steps [model]="items" [(activeIndex)]="activeIndex"
          [readonly]="true" class="stepper-opcs"
        />
        <section *ngIf="activeIndex === 0" class="stepper-panel h-23rem border-round surface-ground">
          <p>Selecciona la acción a realizar:</p>
          <div class="flex flex-column gap-3">
            <div *ngFor="let opc of actionsOps" class="field-checkbox">
              <p-radioButton 
                [value]="opc.value" 
                formControlName="action"
                (onClick)="changeRadioAction($event)"
                [inputId]="opc.txt"
              />
              <label [for]="opc.txt" class="ml-2">
                {{ opc.txt }}
              </label>
            </div>
          </div>
          <div *ngIf="formFiles.controls['action'].value === 3" class="flex flex-column justify-content-center align-items-center mb-3">
            <p>Selecciona el lenguaje al que se quiere migrar:</p>
            <div class="w-16rem"> 
              <p-dropdown 
                formControlName="language"
                [options]="lenguagesOps"
                optionLabel="nom_lenguaje"
                optionValue="idu_lenguaje"
                placeholder="Selecciona un lenguaje"
                [style]="{width : '100%'}"
              />
            </div>
            <span class="font-italic text-red-500 mt-2"
              *ngIf="formFiles.controls['language'].value === null && formFiles.controls['language'].touched" >
                Debes seleccionar un lenguaje.
            </span>
          </div>
        </section>

        <section *ngIf="activeIndex === 1" class="stepper-panel h-23rem border-round surface-ground">
          <p>Selecciona el tipo de proyecto que se subirá:</p>
          <div class="flex gap-3">
            <div class="flex align-items-center mx-3 py-2 px-3" *ngFor="let option of radioOps">
              <p-radioButton 
                [inputId]="option.value" [value]="option.value" 
                formControlName="type"
              />
              <label [for]="option.value" class="ml-3 label-btn">
                <img 
                  src="assets/images/{{option.image}}" 
                  [alt]="option.value"
                  [pTooltip]="option.tooltip" 
                  tooltipPosition="bottom"
                >
              </label>
            </div>
          </div>
        </section>

        <section *ngIf="activeIndex === 2" class="stepper-panel h-23rem border-round surface-ground">
          <div *ngIf="formFiles.get('type')?.value === 'zip'">
            <p class="text-center">Selecciona el archivo <b>.zip</b> o <b>.7z</b> de tu proyecto:</p>
            <div class="flex-auto flex flex-column justify-content-center align-items-center">
              <div class="w-21rem">    
                <p-inputGroup>
                  <button type="button" pButton label="Buscar" (click)="triggerFileInput('zip')"></button>
                  <input type="text" pInputText 
                    id="inputNameZip"
                    placeholder="Selecciona tu proyecto" 
                    readonly disabled="true"
                    [value]="formFiles.controls['zipFile'].value?.name ?? ''"/>
                </p-inputGroup>
              </div>
              <span *ngIf="isUploadFile" class="mt-2 font-italic text-500" >Cargando ...</span>
              <p-button *ngIf="formFiles.controls['zipFile'].value !== null && !isUploadFile" 
                label="Limpiar" [link]="true" (onClick)="cleanInput('project')"/>
              <input id="input-zip" type="file" #zipInput accept=".zip, .7z" (change)="onFileSelected($event, 'zipFile')" style="display: none;">
            </div>
            <div class="flex-auto flex flex-column justify-content-center align-items-center">
              <span *ngIf="formFiles.controls['zipFile'].errors?.['invalidType']" class="mt-1 font-italic text-red-500">
                Error al cargar el archivo, extensiones validas <b>.zip</b> y <b>.7z</b>
              </span>
              <span *ngIf="formFiles.controls['zipFile'].errors?.['invalidName']" class="mt-1 font-italic text-red-500">
                Error al cargar el archivo, el archivo <b> no puede contener espacios</b> en el nombre.
              </span>
            </div>
          </div>
          <div *ngIf="formFiles.get('type')?.value === 'git'">
            <p class="text-center">Ingresa la <b>URL</b> del repositorio de tu proyecto en Gitlab o Github:</p>
            <div class="flex-auto flex flex-column justify-content-center align-items-center">
              <input type="text" pInputText formControlName="urlGit" placeholder="URl de tu proyecto" id="inputUrlGit"/>
              <p-button *ngIf="formFiles.controls['urlGit'].value !== null" 
                label="Limpiar" [link]="true" (onClick)="cleanInput('project')"/>
            </div>
            <div class="flex-auto flex flex-column justify-content-center align-items-center">
              <span *ngIf="formFiles.controls['urlGit'].errors" class="mt-3 font-italic text-red-500">
                URL inválida.
              </span>
            </div>
          </div>
        </section>

        <section *ngIf="activeIndex === 3 && selectedValue === 2" class="stepper-panel h-23rem border-round surface-ground">
          <div class="flex flex-column align-items-center justify-content-center">
            <p>Puedes añadir el archivo <b>.pdf</b> de las vulnerabilidades de tu proyecto.</p>
            <div class="w-21rem">
              <p-inputGroup>
                <button type="button" pButton label="Buscar" (click)="triggerFileInput('pdf')"></button>
                <input type="text" pInputText placeholder="Selecciona tu pdf"
                readonly disabled="true" id="inputpdfFile"
                [value]="formFiles.controls['pdfFile'].value?.name ?? ''"/>
              </p-inputGroup>
            </div>
            <span *ngIf="isUploadFile" class="mt-2 font-italic text-500" >
              Cargando ...
            </span>
            <p-button *ngIf="formFiles.controls['pdfFile'].value !== null && !isUploadFile" 
              label="Limpiar" [link]="true" (onClick)="cleanInput('pdf')"/>
            <input id="input-pdf" type="file" #pdfInput accept=".pdf" (change)="onFileSelected($event, 'pdfFile')" style="display: none;">
            <span *ngIf="formFiles.controls['pdfFile'].errors" class="mt-4 font-italic text-red-500" >
              Error al cargar el archivo, extensión valida <strong>.pdf</strong> 
            </span>
            <div class="flex mt-5 justify-content-center">
              <span class=" font-italic text-400" >
                *Este paso es opcional. 
              </span>
            </div>
          </div>
        </section>
        
        <section *ngIf="(activeIndex === 3  && selectedValue !== 2) || (activeIndex === 4  && selectedValue === 2) " 
          class="stepper-panel h-23rem border-round surface-ground">
          <p>Se subirá tu proyecto son los siguientes elementos: </p>
          <div>
            <p>Acción: <b>{{ actionsOps[selectedValue - 1].txt  }}</b></p>
            <p *ngIf="selectedValue === 3 && formFiles.get('language')?.value !== null">
              Lenguaje para migrar: 
              <b>
                {{ lenguagesOps[formFiles.controls['language'].value - 1].nom_lenguaje }}
              </b>
            </p>
            <p>
              Tipo de proyecto: 
              <b>
                {{ 
                  formFiles.controls['type'].value === 'zip' 
                  ? radioOps[0].tooltip 
                  : radioOps[1].tooltip 
                }}
              </b>
            </p>
            <p> Proyecto en: <b>{{ projectName }}</b> </p>
            <p *ngIf="selectedValue === 2">
              PDF:
               <b>
                {{ 
                  formFiles.controls['pdfFile'].value 
                  ? formFiles.controls['pdfFile'].value.name 
                  : 'No aplica'
                }}
               </b>
            </p>
          </div> 
        </section> 

        <section class="flex pt-2">
            <p-button label="Regresar" icon="pi pi-arrow-left"
                [outlined]="true" (onClick)="changeStep(-1)" 
                [disabled]="activeIndex === 0"
                *ngIf="activeIndex !== 0 && !(activeIndex === items.length - 1 && isUploadProject) "
            />
            <p-button *ngIf="activeIndex !== items.length - 1; else lastBtn"
                label="Siguiente" icon="pi pi-arrow-right"
                iconPos="right" class="ml-auto"
                [disabled]="checkDisabled()"
                (onClick)="changeStep(+1)"
            />
            <ng-template #lastBtn>
                <p-button 
                  [label]="isUploadProject ? 'Subiendo' : 'Subir proyecto'"
                  severity="success" icon="pi pi-arrow-right"
                  iconPos="right" class="ml-auto"
                  (onClick)="uploadFiles()"
                  [loading]="isUploadProject"
                  [disabled]="isUploadProject"
                />
            </ng-template>
        </section>
      </form>
    </section>
  </ng-template>
</main>