<main class="m-2">
    <section class="flex flex-col md:flex-row md:items-center">
        <div class="flex items-center mr-4">
          <p-button
            icon="pi pi-arrow-left" 
            severity="secondary"
            [text]="true"
            (onClick)="back()" 
          />
        </div>
        <div class="flex items-center justify-center">
          <h1 class="txt-tiltle-color text-5xl my-0">Modificar usuario</h1>
        </div>
    </section>

    <!-- <div *ngIf="isLoading; else form" class="card flex justify-center my-6">
        <p-progressSpinner ariaLabel="loading" />
    </div> -->

    <ng-template #form>
        <section class="mt-2 ml-6 text-gray-400">
            <p>Administra la información del usuario: <b>{{ originalUser()?.num_empleado }}</b></p>  
        </section>
        <div class="mt-2 border-1 border-gray-300"></div>
        <section class="flex flex-col p-1 mt-2 md:p-4">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="field grid justify-center m-0 py-2">
                    <p class="col-12 my-2 md:col-fixed md:w-12rem md:my-auto md:text-right">
                       Número de empleado
                    </p>
                    <div class="col-12 md:col-3">
                        <input
                            placeholder="Ej. 90000000"
                            class="w-full"
                            pInputText id="num_empleado-edit"
                            type="text" [disabled]="true" readonly
                            [value]="originalUser()?.num_empleado"/>
                    </div>
                </div>
                <div class="field grid justify-center m-0 py-2">
                    <p class="col-12 my-2 md:col-fixed md:w-12rem md:my-auto md:text-right">
                       Nombre completo
                    </p>
                    <div class="col-12 md:col-3">
                        <div class="flex flex-col">
                            <input
                                class="w-full" placeholder="Nombre completo"
                                [ngClass]="{'ng-invalid ng-dirty': isValidField('nom_usuario')}"
                                pInputText id="nom_usuario-edit" 
                                formControlName="nom_usuario" type="text"/>
                            <small class="mt-3 text-red" *ngIf="isValidField('nom_usuario')">Nombre inválido</small>
                        </div>
                    </div>
                </div>
                <div class="field grid justify-center m-0 py-2">
                    <p class="col-12 my-2 md:col-fixed md:w-12rem md:my-auto md:text-right">
                        Tipo de usuario
                    </p>
                    <div class="col-12 md:col-3">
                        <p-dropdown
                            id="position-edit"
                            formControlName="idu_rol" 
                            [options]="typesUsers"  
                            optionLabel="nom_rol" 
                            optionValue="idu_usuario"
                            placeholder="Seleccionar rol"
                            [style]="{width : '100%'}" 
                        />
                    </div>
                </div>     
            </form>
            <div class="flex justify-content-evenly mt-5 py-2">
                <p-button 
                    type="button"
                    (click)="onCancel()"
                    label="Cancelar" 
                    [outlined]="true"
                    [disabled]="isUpdate"
                />
                <p-button 
                    (click)="onSubmit()"
                    type='submit'
                    [loading]="isUpdate"
                    [disabled]="userForm.invalid || !hasFormChanges || isUpdate"
                    [label]="isUpdate ? 'Actualizando...' : 'Actualizar'" 
                    styleClass="btn-rvia"
                />
            </div>
        </section>
    </ng-template>
</main>