<div>
    <p class="text-base text-gray-600 mb-2">Tu contraseña debe contener:</p>
    <ul class="space-y-2 text-base ml-2">
        <li class="flex items-center gap-2"
            [ngClass]="hasUppercase() ? 'text-green-500 font-medium' : 'text-gray-400'">
            <i class="pi" [ngClass]="hasUppercase() ? 'pi-check-circle' : 'pi-circle-off'"></i>
            Una letra mayúscula
        </li>
        <li class="flex items-center gap-2"
            [ngClass]="hasLowercase() ? 'text-green-500 font-medium' : 'text-gray-400'">
            <i class="pi" [ngClass]="hasLowercase() ? 'pi-check-circle' : 'pi-circle-off'"></i>
            Una letra minúscula
        </li>
        <li class="flex items-center gap-2"
            [ngClass]="hasNumber() ? 'text-green-500 font-medium' : 'text-gray-400'">
            <i class="pi" [ngClass]="hasNumber() ? 'pi-check-circle' : 'pi-circle-off'"></i>
            Un número
        </li>
        <li class="flex items-center gap-2"
            [ngClass]="hasSpecialChar() ? 'text-green-500 font-medium' : 'text-gray-400'">
            <i class="pi" [ngClass]="hasSpecialChar() ? 'pi-check-circle' : 'pi-circle-off'"></i>
            Un carácter especial 
        </li>
        <li class="flex items-center gap-2"
            [ngClass]="hasMinLength() ? 'text-green-500 font-medium' : 'text-gray-400'">
            <i class="pi" [ngClass]="hasMinLength() ? 'pi-check-circle' : 'pi-circle-off'"></i>
            Mínimo 12 caracteres
        </li>
    </ul>
</div>
