<div class="flex items-center">
    <span class="white-space-nowrap mx-2">
      {{ authSrvc.fullName()}}
    </span>

    <span (click)="menu.toggle($event)"  class="txt-title-color p-2 c-pointer  hover:bg-gray-300 transition-colors transition-duration-200 rounded-md">
      <i class="pi pi-user mr-1" style="font-size: 1.2rem;" ></i>  
      <i class="pi pi-angle-down"></i>  
    </span> 
</div>

<div class="card">
  <p-menu #menu [popup]="true" [model]="items" class="flex justify-center" >
      <ng-template pTemplate="start">
          <span class="inline-flex flex-col px-3 py-2">
              <span class="text-sm font-semibold">{{ authSrvc.user()?.nom_usuario }}</span>
              <span class="text-sm font-semibold txt-title-color">{{ authSrvc.user()?.position?.nom_rol }}</span>
          </span>
      </ng-template>
      <ng-template #item let-item>
          <a pRipple class="flex items-center p-menu-item-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
          </a>
      </ng-template>
  </p-menu>
</div>