<main class="m-2">
    <section class="flex justify-center md:justify-start mt-3">
        <h1 class="txt-title-color inline text-5xl my-0">Lista de usuarios</h1>
    </section>
    
    @if (isLoading()) {
        <rvia-loader />
    }
    
    @if (!isLoading() && totalItems === 0) {
        <div class="my-6">
            <h2 class="text-2xl font-bold text-center">
                ¡No hay usuarios para listar!
            </h2>
        </div>
    }
    
    @if(!isLoading() && allUsers.length > 0) {
        <section class="mt-4">
            <div class="card">
                <p-table 
                    #usersTable
                    dataKey="id"
                    [value]="allUsers"
                    [paginator]="true"
                    [rows]="rowsPerPage()"
                    [first]="cPage()"
                    [rowsPerPageOptions]="rowsPerPageOpts()"
                    [totalRecords]="totalItems"
                    [loading]="loadingDataPage"
                    [tableStyle]="{'min-width': '40rem'}"
                    [globalFilterFields]="['num_empleado','nom_usuario']"
                    (onPage)="pageChange($event)"
                >
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <p-iconField iconPosition="left" class="ml-auto">
                                <p-inputIcon>
                                    <i class="pi pi-search"></i>
                                </p-inputIcon>
                                <input 
                                    pInputText 
                                    id="search-user-input"
                                    type="text"
                                    [(ngModel)]="filterValue" 
                                    (ngModelChange)="filtercustom()"
                                    placeholder="Búsqueda por # empleado"
                                    pSize="large"
                                    class="w-72"
                                />
                            </p-iconField>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr class="rvia-table-header">
                            @for(col of columns(); track $index){
                                <th>{{ col }}</th>
                            } 
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user let-index="rowIndex">
                        <tr [ngClass]="{'deleting': isDeleting() && user.num_empleado === idToDelete()}">
                            <td>{{ user.num_empleado }}</td>
                            <td>{{ user.nom_usuario }}</td>
                            <td>{{ user.position.nom_rol }}</td>
                            <td>
                                <a  pTooltip="Editar usuario" 
                                    tooltipPosition="left"  
                                    (click)="onEdit(user.idu_usuario)"
                                    class="cursor-pointer icon-edit mr-3">
                                        <i class="pi pi-user-edit" style="font-size: 1.6rem"></i>
                                </a>
                                @if (userLogged()?.idu_usuario !== user.idu_usuario) {
                                    <a  pTooltip="Eliminar usuario" 
                                        (click)="onDeleteUsuario(user)"
                                        class="cursor-pointer icon-del">
                                            <i class="pi pi-trash" style="font-size: 1.6rem"></i>
                                    </a>
                                } @else {
                                    <a pTooltip="No disponible"
                                        class="icon-del-disabled">
                                            <i class="pi pi-trash" style="font-size: 1.6rem"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </section>
    }

    <p-confirmDialog/>
</main>
