.deleting{
    cursor: progress;
    opacity: 0.5;

    a{
        pointer-events: none;
    }
}

.icon{
    &-edit{
        color: var(--rvia-primary-color);

        &:hover{
            color: var(--hover-rvia-btn-color);
        }
    }

    &-del{
        color: #FF5757;

        &:hover{
            color: #f81c1c;
        }
        
        &-disabled{
            color: #cecece;
        }
    }
}

:host ::ng-deep .p-datatable-header {
    background-color: transparent !important;
    padding-inline: 0px;
}