<main class="m-2">
    <section class="flex flex-column mb-4 pb-2 border-title">
        <h1 class="text-5xl my-0">Casos de prueba</h1> 
    </section>
    <section class="text-justify vertical-align-middle mb-4">
        <p class="m-0">
            A continuación, llena el siguiente formulario para gestionar los casos de prueba del aplicativo.
        </p>
    </section>
    
    <div *ngIf="isLoadingData" class="card flex justify-content-center my-6">
        <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    </div>

    <section *ngIf="!isLoadingData"> 
        <form [formGroup]="formTestCase" (ngSubmit)="onSubmit()">
            <section class="flex flex-column align-items-center mb-3">
                <p>Selecciona el aplicativo para los casos de prueba:</p>
                <p-dropdown
                    id="select-apps"
                    formControlName="idu_aplicacion"
                    optionLabel="name"
                    [options]="appsOpcs"
                    optionValue="value"
                    placeholder="Selecciona una app"
                ></p-dropdown>
                <span *ngIf="formTestCase.controls['idu_aplicacion'].errors && formTestCase.controls['idu_aplicacion'].touched"
                    class="font-italic text-red-500 mt-2">
                        Debes seleccionar una aplicación.
                </span>
            </section>

            <section *ngIf="formTestCase.controls['idu_aplicacion'].value !== null" class="flex flex-column justify-content-center mb-4">
                <div class="flex justify-content-center mt-4">
                    <p-button 
                        [label]="label"
                        [loading]="isRequest && label === 'Iniciando'"
                        [disabled]="isRequest && label === 'Iniciado'" 
                        severity="success" 
                        icon="pi pi-check" 
                        iconPos="right"
                        type="submit"
                    ></p-button>
                </div>
            </section>
        </form>
    </section>

    <p-confirmDialog header="Documentar Proyecto"
                     icon="pi pi-file" 
                     acceptButtonStyleClass="p-button-success my-2"
                     acceptLabel="Sí, continuar"
                     rejectButtonStyleClass="p-button-outlined my-2"
                     rejectLabel="No, cancelar">
    </p-confirmDialog>
</main>
