<main class="m-2">
    <section class="flex flex-column mb-4 pb-2 border-title">
        <h1 class="text-5xl my-0">Casos de prueba</h1> 
    </section>
    <section class="text-justify vertical-align-middle mb-4">
        <p class="m-0">
            Para iniciar el proceso de generar casos de prueba de tu proyecto, <b>selecciona la aplicación con la que se quiere trabajar</b>.
            El listado de aplicaciones solo contempla aquellas aplicaciones cuyo proceso inicial <b>no</b> incluye los casos de prueba.
        </p>
    </section>
    
    <div *ngIf="isLoadingData" class="card flex justify-content-center my-6">
        <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    </div>

    <section *ngIf="!isLoadingData"> 
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <section class="flex flex-column align-items-center mb-3">
                <p>Selecciona el aplicativo a trabajar:</p>
                <p-dropdown
                    iid="select-apps"
                    formControlName="idu_aplicacion"
                    optionLabel="name"
                    [options]="appsOpcs"
                    optionValue="value"
                    placeholder="Selecciona una app"
                    [filter]="true"
                    filterPlaceholder="Buscar aplicación..."
                    [showClear]="true">
                ></p-dropdown>
                <span *ngIf="form.controls['idu_aplicacion'].errors && form.controls['idu_aplicacion'].touched"
                    class="font-italic text-red-500 mt-2">
                        Debes seleccionar una aplicación.
                </span>
            </section>

            <section *ngIf="form.controls['idu_aplicacion'].value !== null" class="flex flex-column justify-content-center mb-4">
                <div class="flex justify-content-center mt-4">
                    <p-button 
                        [label]="label"
                        [loading]="isRequest && label === 'Iniciando'"
                        [disabled]="isRequest && label === 'Iniciado'" 
                        severity="success" 
                        icon="pi pi-check" 
                        iconPos="right"
                        type="submit"
                    ></p-button>
                </div>
            </section>
        </form>
    </section>
    <p-confirmDialog/>
</main>
