<!-- <main class="m-2">
    <section class="flex flex-column mb-4 pb-2 border-title">
        <h1 class="text-5xl my-0">Recovery PDF</h1> 
    </section>
    <section class="text-justify vertical-align-middle mb-4">
        <p class="m-0">
            <b>Recovery PDF</b> es una herramienta para convertir tu archivo de vulnerabilidades de Checkmarx <b>.pdf</b> a
            un archivo <b>.csv</b> el cual es válido para el uso de <b>RVIA</b>.
        </p>
        <p>
            Este archivo generado se podrá subir en las acciones de la tabla de aplicaciones 
            <span class="icon-up"><i class="pi pi-file-arrow-up" style="font-size: 1.2rem"></i></span>.
        </p>
    </section>
    <section class="flex flex-column justify-content-center mb-4">
        <div class="mx-auto">            
            <p class="mt-0">Selecciona el archivo <b>.pdf</b> de vulnerabilidades a convertir:</p>
            <form>
                <div class="flex-auto flex flex-column justify-content-center align-items-center"> 
                    <p-inputGroup class="mx-auto w-7 mt-4">
                        <button 
                            type="button" pButton 
                            label="Buscar" >
                        </button>
                        <input type="text" pInputText 
                          id="inputNameZip"
                          placeholder="Selecciona tu archivo" 
                          disabled="true" readonly
                          />
                    </p-inputGroup>
                    <span class="mt-2 font-italic text-500">Cargando ...</span>
                    <span  
                        class="mt-2     text-500">
                            Tamaño:  MB 
                    </span>
                    <span
                        class="mt-3 font-italic text-red-500">
                        Error al cargar el archivo, extensiones válidas <b>.pdf</b>
                    </span>
                    <input id="input-csv" type="file" accept=".csv" #pdfFile  style="display: none;">
                </div>
                <div  
                    class="flex justify-content-evenly mt-3">
                    <p-button 
                        label="Cancelar" 
                        [link]="true"
                    />
                    <p-button 
                      label="Cargar"
                      severity="success" 
                      icon="pi pi-upload" 
                      iconPos="right"
                      type="submit"
                    />
                </div>
            </form>
        </div>
    </section>
</main> -->