.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
        font-size: 96px;
        margin-bottom: 0;
        text-decoration: underline;
    }
}
