<section class="flex mt-3">
    <h1 class="inline text-5xl my-0 ">Lista de Aplicaciones</h1>
    <a 
        routerLink="/" 
        class="p-button font-bold ml-auto bnt-new">
        <span class="pi pi-plus-circle mr-2" style="font-size: 1.4rem"></span>
        Nueva
    </a>
</section>

<section class="mt-4">
    <div class="card">
        <p-table [value]="aplications" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of colums">
                        {{ col }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-app>
                <tr>
                    <td>{{ app.id }}</td>
                    <td>{{ app.name }}</td>
                    <td *ngIf="user!.rol !== 'Invitado' && user!.rol !== 'Usuario'">{{ app.user }}</td>
                    <td *ngIf="user!.rol === 'Autorizador' || user!.rol === 'Administrador'; else authStatus">
                        Select
                     </td>
                     <ng-template #authStatus>
                         <td>{{ app.status | statusApp}}</td>
                     </ng-template>
                    <td *ngIf="user!.rol !== 'Invitado'">
                        <a 
                            *ngIf="app.status === 1"
                            [href]="app.linkDownload"
                            download="{{ app.name }}.jpeg"
                            class="c-pointer icon-down">
                            <i class="pi pi-arrow-circle-down" style="font-size: 1.6rem"></i>
                        </a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator 
            (onPageChange)="onPageChange($event)" 
            [first]="0"
            [rows]="5" 
            [totalRecords]="totalItems" 
        />
    </div>
</section>