<main class="m-2">
    <section class="flex flex-col mb-4 pb-2 border-title">
        <h1 class="txt-title-color text-5xl my-0">Calificar código</h1> 
    </section>
    <section class="text-justify vertical-align-middle mb-4">
        <p class="m-0">
            Para iniciar el proceso de calificación de código de tu proyecto, <b>selecciona la aplicación con la que se quiere trabajar</b>.
            El listado de aplicaciones solo contempla aquellas aplicaciones cuyo proceso <b>no</b> incluye la calificación de código.
        </p>
    </section>
    
    <!-- <div *ngIf="isLoadingData" class="card flex justify-center my-6">
        <p-progressSpinner ariaLabel="loading" />
    </div> -->

    <section *ngIf="!isLoadingData"> 
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <section class="flex flex-col items-center mb-3">
                <p>Selecciona el aplicativo a trabajar:</p>
                <p-dropdown
                    id="select-apps"
                    formControlName="idu_aplicacion"
                    optionLabel="name"
                    [options]="appsOpcs"
                    optionValue="value"
                    placeholder="Selecciona una app"
                    [filter]="true"
                    filterPlaceholder="Buscar aplicación..."
                    [showClear]="true">
                </p-dropdown>
                <span *ngIf="form.controls['idu_aplicacion'].errors && form.controls['idu_aplicacion'].touched"
                    class="font-italic text-red-500 mt-2">
                    Debes seleccionar una aplicación.
                </span>
            </section>
            <section *ngIf="form.controls['idu_aplicacion'].value !== null" class="flex flex-col justify-center mb-4">
                <div class="flex justify-center mt-4">
                    <p-button 
                        [label]="label"
                        [loading]="isRequest && label === 'Iniciando'"
                        [disabled]="isRequest && label === 'Iniciado'" 
                        severity="success" 
                        icon="pi pi-check" 
                        iconPos="right"
                        type="submit"
                    />
                </div>
            </section>
        </form>
    </section>
</main>
