<main class="my-6 container-form border-round">
    <section class="flex flex-column justify-content-center align-items-center h-12rem border-round surface-ground px-3">
        <h3 class="mb-4">Selecciona el tipo de proyecto que se subirá : </h3>
        <div class="flex justify-content-center gap-5 mb-1">
            <button
              pTooltip="Subir zip" 
              tooltipPosition="bottom" 
              class="p-3 c-pointer btn-img border-round" 
              (click)="triggerFileInput()">
                <img src="assets/images/Cargar.png" alt="Button zip">
            </button>
            <input id="input-zip" type="file" #zipInput  (change)="onFileSelected($event)" style="display: none;">
            <button 
              pTooltip="Añadir URL Git Lab" 
              tooltipPosition="bottom"  
              class="p-3 c-pointer btn-img border-round"
              (click)="showGitlabInput()">
                <img src="assets/images/gitlab.webp" alt="Button gitlab">
            </button>
        </div> 
    </section>
    <section class="flex flex-column justify-content-center align-items-center surface-ground">
        <div *ngIf="zipFile !== null" class="flex flex-column justify-content-center align-items-center">
            <input type="text" pInputText readonly [value]="zipFile.name"
            placeholder="Tu projecto zip" id="input-zip-up" disabled="true"/>
        </div>
        <div *ngIf="showGitlabUrlInput" class="flex flex-column justify-content-center align-items-center pb-4">
          <input type="text" pInputText [(ngModel)]="gitlabUrl" (input)="isValidGitlabUrl($event)"
            placeholder="Ingrese la URL de GitLab" id="input-url-up" [disabled]="isUploadProject">
        </div>
        <p *ngIf="isError" class="mt-3 font-italic text-red-500" >
          {{ errorMessage }}
        </p>
    </section>
    <section  *ngIf="(zipFile != null || gitlabUrl !== '') && !isError"
        class="flex gap-4 justify-content-center surface-ground py-5">
          <p-button 
            (click)="onCancel()"
            type="button"
            label="Cancelar" 
            [outlined]="true"
            [disabled]="isUploadProject" 
            class="mr-8"/>
          <p-button
            (click)="onSave()"
            type='submit'
            severity="success"
            [disabled]="isUploadProject"
            [loading]="isUploadProject"
            [label]="isUploadProject ? 'Gurdando...' : 'Aceptar'" 
            class="ml-8"/>
    </section>
</main>
<p-toast />