<div class="form-container">
  <div class="dark-box">
    <p class="project-type-text">Tipo de Proyecto:</p>
    <div class="image-buttons">
      <button class="image-button" (click)="triggerFileInput('zip')">
        <img src="assets/images/Cargar.png" alt="Button Image 1">
      </button>
      <input id="input-zip" type="file" #zipInput accept=".zip" (change)="onFileSelected($event, 'zip')" style="display: none;">
      <button class="image-button" (click)="showGitlabInput()">
        <img src="assets/images/gitlab.webp" alt="Button Image 2">
      </button>
    </div>
    <div *ngIf="showGitlabUrlInput" class="gitlab-url-container">
      <input id="input-url" type="text" [(ngModel)]="gitlabUrl" placeholder="Ingrese la URL de GitLab" class="gitlab-url-input">
    </div>
    <div *ngIf="zipFileName" class="project-info-container">
      <span class="source-code-text">Código Fuente:</span>
      <div class="project-info">
        <span>{{ zipFileName }}</span>
      </div>
    </div>
    <div class="action-buttons">
      <p-button 
        (click)="onCancel()"
        type="button"
        label="Cancelar" 
        severity="danger"
        [disabled]="isLoading" 
        class="mr-8"/>
      <p-button
        (click)="onSave()"
        type='submit'
        [disabled]="isLoading"
        [label]="isLoading ? 'Gurdando...' : 'Aceptar'" 
        class="ml-8"/>
    </div>
  </div>
</div>
<p-toast />