<div class="form-container">
    <div class="dark-box">
      <p class="project-type-text">Tipo de Proyecto:</p>
      <div class="image-buttons">
        <button class="image-button" (click)="triggerFileInput('zip')">
          <img src="assets/images/Cargar.png" alt="Button Image 1">
        </button>
        <input type="file" #zipInput accept=".zip" (change)="onFileSelected($event, 'zip')" style="display: none;">
        <button class="image-button" (click)="showGitlabInput()">
          <img src="assets/images/gitlab.webp" alt="Button Image 2">
        </button>
      </div>
      <div *ngIf="showGitlabUrlInput" class="gitlab-url-container">
        <input type="text" [(ngModel)]="gitlabUrl" placeholder="Ingrese la URL de GitLab" class="gitlab-url-input">
      </div>
      <div *ngIf="zipFileName" class="project-info-container">
        <span class="source-code-text">Código Fuente:</span>
        <div class="project-info">
          <span>{{ zipFileName }}</span>
        </div>
      </div>
      <div class="action-buttons">
        <button class="cancel-button" (click)="onCancel()">Cancelar</button>
        <button class="accept-button" (click)="onSave()">Aceptar</button>
      </div>
    </div>
  </div>
  