<main class="px-4 pb-4">
    <div *ngIf="isLoadingData || app.checkmarx.length > 0; else formPDF" class="card flex justify-content-center my-6">
        <p-progressSpinner ariaLabel="loading" />
    </div>
    
    <ng-template #formPDF>
        <section class="flex flex-column justify-content-center">
            <p>Selecciona el archivo <b>.pdf</b> de las vulnerabilidades para el aplicativo <b>{{ app.nom_aplicacion }}.</b></p>
            <form [formGroup]="formFile" (ngSubmit)="onSubmit()">
                <div class="flex-auto flex flex-column justify-content-center align-items-center"> 
                    <p-inputGroup class="mx-auto w-7 mt-4">
                        <button 
                            type="button" pButton 
                            label="Buscar" 
                            (click)="openSearch()">
                        </button>
                        <input type="text" pInputText 
                          id="inputNamePDF"
                          placeholder="Selecciona tu archivo" 
                          disabled="true" readonly
                          [value]="formFile.controls['pdfFile'].value?.name ?? ''"/>
                    </p-inputGroup>
                    <span *ngIf="isLoadingFile" class="mt-2 font-italic text-500">Cargando ...</span>
                    <span *ngIf="!formFile.controls['pdfFile'].errors && formFile.controls['pdfFile'].value && !isLoadingFile" 
                        class="mt-2 text-500">
                            Tamaño: {{ sizeFile.toFixed(2)}} MB 
                    </span>
                    <span *ngIf="formFile.controls['pdfFile'].errors?.['invalidTypePdf']"
                        class="mt-3 font-italic text-red-500">
                        Error al cargar el archivo, extensiones válidas <b>.pdf</b>
                    </span>
                    <input id="input-csv" type="file" #pdfFile (change)="onFileSelected($event)" style="display: none;">
                </div>
                <div *ngIf="!formFile.controls['pdfFile'].errors && formFile.controls['pdfFile'].value && !isLoadingFile" 
                    class="flex justify-content-evenly mt-3">
                    <p-button 
                        label="Cancelar" 
                        [link]="true"
                        (onClick)="cancel()"
                    />
                    <p-button 
                      [label]="isUploadFile ? 'Subiendo...' : 'Subir'" 
                      severity="success" 
                      icon="pi pi-arrow-right" 
                      iconPos="right"
                      class="ml-auto"
                      [loading]="isUploadFile" 
                      [disabled]="isDisabled"
                      type="submit"
                    />
                </div>
            </form>
        </section>
    </ng-template>
</main>