<main class="w-full h-full flex justify-center main-container">
  <div class="login-container w-100 mx-auto my-auto p-4">
    <div class="login-box p-6 rounded-lg text-white">
      <h2 class="text-2xl text-center mb-6">Acceso</h2>
      <div class="flex flex-col gap-3 mb-6">
        <p class="m-0">Número de empleado:</p>
        <input 
          pInputText
          id="usernumber"
          name="usernumber"
          aria-describedby="usernumber-input"
          [(ngModel)]="usernumber" 
          (input)="onInputChange()"
          required
          placeholder="Ej. 90000000"
          pSize="large"
        />
      </div>
      <div class="flex flex-col gap-3 mb-6">
        <p class="m-0">Contraseña:</p>
        <p-password 
          inputId="passworduser"
          name="passworduser"
          aria-describedby="passworduser-input"
          [style]="{width : '100%'}"
          [inputStyle]="{width : '100%'}"
          [(ngModel)]="password" 
          [feedback]="false" 
          [toggleMask]="true"
          (input)="onInputChange()"
          required
          placeholder="Contraseña"
          size="large"
        />
      </div>
      @if (errorMessage) {
        <div class="mb-2 text-red-700 text-center">
          {{ errorMessage }}
        </div>
      }
      <div class="flex flex-col gap-6 mt-12">
        <p-button 
          [label]="isLogging ? 'Ingresando...' : 'Ingresar'" 
          styleClass="w-full"
          iconPos="right"
          [disabled]="isLoginDisabled || isLogging" s
          (onClick)="onLogin()"
          size="large"
        />
        <p-button 
          [link]="true" 
          class="text-center" 
          label="Crear cuenta"
          styleClass="text-white! font-bold" 
          (onClick)="onRegister()"/>
      </div>
    </div>
  </div>
</main>