<main class="w-full h-full flex justify-content-center main-container">
  <div class="login-container w-25rem mx-auto mt-7 p-4">
    <div class="login-box p-4 border-round-lg text-white">
      <h2 class="text-center mb-4">Acceso</h2>
      <div class="flex flex-column gap-2 mb-4">
        <p class="m-0">Número de Empleado:</p>
        <input 
          pInputText
          id="usernumber"
          name="usernumber"
          aria-describedby="usernumber-input"
          [(ngModel)]="usernumber" 
          (input)="onInputChange()"
          required
          placeholder="Ej. 98322XXX"
        />
      </div>
      <div class="flex flex-column gap-2 mb-4">
        <p class="m-0">Contraseña:</p>
        <p-password 
          id="passworduser"
          name="passworduser"
          aria-describedby="passworduser-input"
          [style]="{width : '100%'}"
          [inputStyle]="{width : '100%'}"
          [(ngModel)]="password" 
          [feedback]="false" 
          [toggleMask]="true"
          (input)="onInputChange()"
          required
          placeholder="Contraseña"
        />
      </div>
      <div *ngIf="errorMessage" class="mb-2 text-red">{{ errorMessage }}</div>
      <div class="flex flex-column gap-3 mt-6">
        <p-button 
          [label]="isLogging ? 'Ingresando...' : 'Ingresar'" 
          styleClass="w-full"
          iconPos="right"
          [disabled]="isLoginDisabled || isLogging" 
          (onClick)="onLogin()"
        />
        <p-button 
          [link]="true" 
          class="text-center" 
          label="Crear cuenta"
          styleClass="text-white" 
          (onClick)="onRegister()"/>
      </div>
    </div>
  </div>
</main>