<main class="m-2">
    <section class="flex flex-column mb-4 pb-2 border-title">
        <h1 class="text-5xl my-0">Iniciar proceso</h1> 
    </section>
    <section class="text-justify vertical-align-middle mb-4">
        <p class="m-0">
            A continuación se listan las aplicaciones que tengan <b>procesos de arquitectura en espera</b>, para iniciar su proceso manualmente.
        </p>
    </section>
    
    <div *ngIf="isLoadingData" class="card flex justify-content-center my-6">
        <p-progressSpinner ariaLabel="loading" />
    </div>

    <section *ngIf="!isLoadingData"> 
        <p>{{ formIA.value | json}}</p>
        <form [formGroup]="formIA" (ngSubmit)="onSubmit()">
            <section class="flex flex-column align-items-center mb-3">
                <p>Selecciona el aplicativo a trabajar:</p>
                <p-dropdown
                    id="select-apps"
                    formControlName="idu_aplicacion"
                    optionLabel="value"
                    [options]="appsOpcs"
                    optionValue="app"
                    placeholder="Selecciona una app"
                    [filter]="true"
                    filterPlaceholder="Buscar aplicación..."
                    [showClear]="true"
                    (ngModelChange)="appSelected($event)"
                    (onClear)="resetForm()"
                />
                <span *ngIf="formIA.controls['idu_aplicacion'].errors && formIA.controls['idu_aplicacion'].touched"
                    class="font-italic text-red-500 mt-2">
                    Debes seleccionar una aplicación.
                </span>
            </section>

            <section *ngIf="formIA.controls['idu_aplicacion'].value !== null" class="flex flex-column align-items-center justify-content-center mb-4" style="border:1px solid red"> 
                <p class="mt-0 text-center">Selecciona el proceso que quieres iniciar:</p>
                <div class="flex flex-column justify-content-center gap-2">
                    <div *ngFor="let opc of processOpcs" class="field-checkbox">
                        <p-radioButton 
                            [value]="opc.value" 
                            formControlName="opc_arquitectura" 
                            [inputId]="'proces'+opc"/>
                        <label [for]="'proces'+opc" class="ml-2">
                            {{ opc.name }}
                        </label>
                    </div>
                </div>
            </section>

            <section *ngIf="formIA.controls['opc_arquitectura'].value !== null" class="flex flex-column justify-content-center mb-4">
                <p class="mt-0 text-center">¿Quieres que se trabaje con Inteligencia Artificial?</p>
                <div class="flex justify-content-center gap-3">
                    <div *ngFor="let opc of actionsOps" class="field-checkbox">
                        <p-radioButton 
                            [value]="opc.value" 
                            formControlName="conIA" 
                            [inputId]="opc.txt"/>
                        <label [for]="opc.txt" class="ml-2">
                            {{ opc.txt }}
                        </label>
                    </div>
                </div>
                <div class="flex justify-content-center mt-4">
                    <p-button 
                        [label]="label"
                        [loading]="isRequest && label === 'Iniciando'"
                        [disabled]="isRequest && label === 'Iniciado'" 
                        severity="success" 
                        icon="pi pi-check" 
                        iconPos="right"
                        type="submit"
                    />
                </div>
            </section>
        </form>
    </section>
</main>
