<section class="flex flex-column mt-3 md:flex-row">
    <h1 class="txt-title inline text-4xl text-center my-0 md:text-5xl md:text-left">
        Lista de aplicaciones
    </h1>
    <a
        pRipple
        routerLink="/apps/new-app"
        pTooltip="Subir una aplicación"
        tooltipPosition="left"
        tooltipStyleClass="text-sm"
        class="btn-new p-button font-bold mx-auto mt-4 md:mt-0 md:ml-auto md:mr-0">
        <span class="pi pi-plus-circle mr-2" style="font-size: 1.4rem"></span>
        Nueva aplicación
    </a>
</section>