.icon{
    &-down{
        color: #4edf0f;
    
        &:hover{
            color: #65af46;
        }
    }

    &-disable{
        color: #cecece;
    }

    &-up{
        color: #0000ff;
    }
}

.bnt-new{
    background-color: #a6a6a6;
    border-color: #a6a6a6;
    text-decoration: none;

    span {
        color: #0000ff; 
        font-weight: bold;
    }

    &:hover {
        background-color: #868686;
    }
}

:host ::ng-deep .p-dropdown {
    position: initial !important;
}

.change{
    opacity: 0.5;
    cursor: progress;

    a{
        pointer-events: none;
    }
}
