@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";

:root{
    --rvia-primary-color: #006fb9;
    --hover-rvia-primary-color: #006eb833;
    --hover-rvia-btn-color: #013457;
    --acent-color:#ea5a9c;
    --bg-sidebar: #efefef;
    --bg-content: #f9f9f9;
    --txt-color: #4b5563;
}

html,
body {
    height: 100% !important;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    color: var(--txt-color);
    line-height: normal !important;
}

.flex-basis-0{
    flex-basis: 0;
}

.border-title{
    border-bottom: 2px solid #ccc;
}

.txt-title-color {
    color: var(--rvia-primary-color) !important;
}

.btn-rvia{
    background-color:  var(--rvia-primary-color) !important;
    border-color: var(--rvia-primary-color) !important;
    transition: left 0.3s ease, background-color 0.3s ease;

    &:not(:disabled):hover {
        background-color: var(--hover-rvia-btn-color) !important;
        border-color: var(--hover-rvia-btn-color) !important;
    }
}

.btn-rvia-outlined{
    border-color: var(--rvia-primary-color) !important;
    color: var(--rvia-primary-color) !important;

    &:hover{
        background-color: #ffffff !important;
    }
}

p > b{
    color: var(--acent-color);
}

.rvia-table-header th {
    background-color: #e6e6e6 !important;
    color: var(--rvia-primary-color) !important;
    font-weight: bold;
}