<main class="main-container min-h-full px-4 py-5">
  <section class="register-container newsize p-4 my-3 mx-auto rounded-lg">
    <div class="flex flex-grow-1 items-center justify-center mt-4">
      <h1 class="txt-title-color text-5xl my-0">Nueva cuenta</h1>
    </div>

    <div class="mt-6"> 
      <p-steps [model]="headers" [(activeIndex)]="activeIndex"
      [readonly]="true" class="stepper-opcs"
      />
      
      <!-- Panel Usuario -->
       @if (activeIndex === 0) {
        <form [formGroup]="registerFormUser" novalidate>
          <section class="grid grid-cols-1 md:grid-cols-2 p-2">
            <div class="field p-2 mb-0 input-size">
              <p class="my-2 font-bold">
                Número de empleado <span class="text-red-500">*</span>
              </p>
              <div class="flex flex-col">
                <p-inputNumber 
                  formControlName="num_empleado" 
                  inputId="num_empleado-reg"
                  [useGrouping]="false"
                  [style]="{ width : '100%' }"
                  placeholder="Ej. 90000000"
                  min="0"
                  max="99999999"
                  size="large"
                />
                @if (isValidField('num_empleado')) {
                  <small class="mt-2 pl-2 text-red-500">
                    Número de empleado inválido.
                  </small>
                }
              </div>
            </div><!--Num empleado-->
            
            <div class="field p-2 mb-0 input-size">
              <p class="my-2 font-bold">
                Correo electrónico <span class="text-red-500">*</span>
              </p>
              <div class="flex flex-col">
                <input
                  formControlName="nom_correo"
                  autocomplete="off"
                  placeholder="ejemplo@coppel.com"
                  class="w-full"
                  pInputText id="email-reg"
                  type="text"
                  pSize="large"
                />
                @if (isValidField('nom_correo')) {
                  <small class="mt-2 pl-2 text-red-500">
                    El correo electrónico inválido.
                  </small>
                }
              </div>
            </div><!--Correo electronico-->
            
            <div class="field md:col-span-2 p-2 mb-0 input-size">
              <p class="my-2 font-bold">
                  Nombre de usuario <span class="text-red-500">*</span>
              </p>
              <div class="flex flex-col">
                <input
                  formControlName="nom_usuario"
                  autocomplete="off"
                  placeholder="Nombre completo"
                  class="w-full"
                  pInputText id="username-reg"
                  type="text"
                  pSize="large"
                />
                @if (isValidField('nom_usuario')) {
                  <small class="mt-2 pl-2 text-red-500">
                    Nombre de usuario inválido.
                  </small>
                }
              </div>
            </div><!-- Nombre usuario -->
  
            <div class="field p-2 mb-0 input-size">
              <div class="flex items-center">
                <p class="my-2 font-bold">
                  Contraseña <span class="text-red-500">*</span>
                </p>
                <p-badge
                  class="ml-1"
                  [pTooltip]="tooltipContent"  
                  value="i" severity="contrast"
                  tooltipPosition="right" 
                  [style]="{'min-width': '20px', 'height': '22px', 'vertical-align': 'middle'}" />
                <ng-template #tooltipContent>
                    <div class="flex items-center text-sm">
                      <p>Crea una contraseña segura con almenos <b>12 caracteres, letras, números y símbolos combinados.</b></p>
                    </div>
                </ng-template>
              </div>
              <div class="flex flex-col">
                <p-password 
                  formControlName="nom_contrasena"
                  inputId="passworduser-reg"
                  name="passworduser-reg"
                  [style]="{ width : '100%' }"
                  [inputStyle]="{ width : '100%' }"
                  [feedback]="false" 
                  [toggleMask]="true"
                  placeholder="Contraseña"
                  autocomplete="off"
                  size="large"
                />
                @if (isValidField('nom_contrasena')) {
                  <small class="mt-2 pl-2 text-red-500">
                    Contraseña inválida.
                  </small>
                }
              </div>
            </div><!-- Contraseña -->
            
            <div class="field p-2 mb-0 input-size">
              <p class="my-2 font-bold">
                Confirmar contraseña <span class="text-red-500">*</span>
              </p>
              <div class="flex flex-col">
                <p-password 
                  formControlName="confirmPassword"
                  inputId="passworduserconf-reg"
                  name="passworduserconf-reg"
                  [style]="{ width : '100% '}"
                  [inputStyle]="{ width : '100%' }"
                  [feedback]="false" 
                  [toggleMask]="true"
                  placeholder="Confirma tu contraseña"
                  autocomplete="off"
                  size="large"
                />
                @if (isValidField('confirmPassword')) {
                  <small class="mt-2 pl-2 text-red-500">
                    Las contraseñas no coinciden.
                  </small>
                }
              </div>
            </div><!--Confirmacion -->
            
            <div class="field p-2 mb-0 input-size" >
              <p class="my-2 font-bold">
                  Puesto <span class="text-red-500">*</span>
              </p>
              <div class="flex flex-col">
                <p-select
                  formControlName="num_puesto"
                  id="position-reg"
                  [options]="positionsOpcs"  
                  optionLabel="nom_puesto" 
                  optionValue="idu_puesto"
                  placeholder="Selecciona tu puesto"
                  [showClear]="true"
                  [style]="{ width : '100%' }" 
                  size="large"
                />
                @if (isValidField('num_puesto')) {
                  <small class="mt-2 pl-2 text-red-500"> 
                    Debes seleccionar un puesto.
                  </small>
                }
              </div>
            </div><!--Puesto -->
          </section>
        </form>
       }
      <!-- Panel Usuario --> 

      <!-- Panel Organizacion -->
       @if (activeIndex === 1) {
         <form [formGroup]="registerFormOrg" novalidate>
          <section class="grid m-0 p-2">
            <div class="field p-2 mb-0 input-size">
              <p class="my-2 font-bold">
                  Número de centro <span class="text-red-500">*</span>
              </p>
              <div class="flex flex-col">
                <p-select
                  formControlName="num_centro"
                  id="num_centro-reg"
                  [options]="centrosOpc"
                  optionValue="num_centro"
                  placeholder="Selecciona un centro"
                  [style]="{ width : '100%' }"
                  [showClear]="true"
                  panelStyleClass="apps-panel"
                  [filter]="true"
                  filterPlaceholder="Buscar centro..." 
                  [filterBy]="'num_centro,nom_centro'"
                  size="large"
                >
                  <ng-template pTemplate="selectedItem" let-centro>
                    <div>{{ centro?.num_centro }} - {{ centro?.nom_centro }}</div>
                  </ng-template>
                  <ng-template let-centro pTemplate="item">
                    @if (centro) {
                      <div>{{ centro.num_centro }} - {{ centro.nom_centro }}</div>
                    }@else {
                      <div class="text-color-secondary">Selecciona una centro</div>
                    }
                  </ng-template>
                </p-select>
                @if(isValidFieldOrg('num_centro')){
                  <small class="mt-2 pl-2 text-red-500">
                    Debes seleccionar un centro.
                  </small>
                }
              </div>
            </div><!--Centro-->
            @if(isNotDivisional){
              <div class="field p-2 mb-0 input-size">
                <p class="my-2 font-bold">
                  Selecciona a tu {{ txtPosition }} <span class="text-red-500">*</span>
                </p>
                <div class="flex flex-col">
                  <p-select
                    formControlName="num_encargado"
                    id="num_encargado-reg"
                    [options]="encargados"
                    optionValue="num_empleado"
                    [placeholder]="'Selecciona a tu ' + txtPosition"
                    [style]="{ width : '100%' }"
                    panelStyleClass="apps-panel"
                    [showClear]="true"
                    [filter]="true"
                    filterPlaceholder="Buscar encargado..." 
                    [filterBy]="'num_empleado,nom_empleado'"
                    size="large"
                  >
                    <ng-template pTemplate="selectedItem" let-encargado>
                      <div>{{ encargado?.num_empleado }} - {{ encargado?.nom_empleado }}</div>
                    </ng-template>
                    <ng-template let-encargado pTemplate="item">
                      @if(encargado){
                        <div>{{ encargado.num_empleado }} - {{ encargado.nom_empleado }}</div>

                      }@else {
                        <div class="text-color-secondary">Selecciona a tu {{ txtPosition }}</div>
                      }
                    </ng-template>
                  </p-select>
                  @if (isValidFieldOrg('num_encargado')) {
                    <small class="mt-2 pl-2 text-red-500">
                      Debes seleccionar un encargado.
                    </small>
                  }
                </div>
              </div><!--Encargado-->
            }
            <div class="field mt-4 mb-0">
              <div class="flex flex-col">
                <div class="flex items-center gap-2 mb-0">
                  <p-checkbox
                    formControlName="termAccepted" 
                    [binary]="true"
                    inputId="termAccepted" 
                    name="termAccepted" 
                    (click)="showTerms(true)"
                  />
                  <p class="text-sm">He leído y acepto los <b class="cursor-pointer" (click)="showTerms()">Términos y condiciones de Servicio</b>.</p>
                </div>
                @if (isValidFieldOrg('termAccepted')) {
                  <small class="mt-2 pl-2 text-red-500">
                    Debes aceptar los términos y condiciones.
                  </small>
                }
              </div>
            </div><!--T&C-->
          </section>
        </form>
       }
      <!-- Panel Organizacion -->

      <section class="flex pt-2 mt-10">
        <p-button label="Regresar" [text]="true"
            icon="pi pi-arrow-left"
            severity="secondary"
            (onClick)="changeStep(-1)" 
            [disabled]="activeIndex === 0"
            size="large"
            *ngIf="activeIndex !== 0 && !(activeIndex === headers.length - 1 && isRegister)"
          />
          <button *ngIf="activeIndex !== headers.length - 1; else lastBtn"
            pButton label="Siguiente" icon="pi pi-arrow-right"
            iconPos="right" class="p-button ml-auto btn-rvia"
            [disabled]="checkDisabled()"
            (click)="changeStep(+1)"
            size="large"
          >
          </button> 
          <ng-template #lastBtn>
              <p-button 
                [label]="isRegister ? 'Registrando...' : 'Crear cuenta'"
                severity="success" icon="pi pi-arrow-right"
                iconPos="right" class="ml-auto"
                type="button"
                (click)="onRegister()"
                [loading]="isRegister"
                [outlined]="registerFormOrg.invalid"
                [disabled]="isRegister || checkDisabled()"
                size="large"
              />
          </ng-template>
      </section><!--Botones-->
    </div>

    <p-divider />
    <div class="text-center mt-4 mb-0 p-0">
      <p class="text-sm m-0">¿Ya tienes una cuenta? <b class="cursor-pointer" (click)="goToLogin()">Inicia sesión</b>.</p>
    </div>
  </section>
  
  <p-dialog 
    header="Términos y Condiciones Generales de Servicio RVIA" 
    [modal]="true" 
    [(visible)]="isShowTerms" 
    [style]="{ width: '50rem' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
      @for (term of termsAndConditions; track $index) {
        <div class="mb-2" >
          <h3 class="text-lg font-bold mb-2">
            {{ term.title }}
          </h3>
          <p [innerHTML]="term.content" class="leading-relaxed"></p>
        </div>
      }
  </p-dialog> <!--termimos-->
</main>