<main class="main-container min-h-full px-4 py-5">
  <section class="register-container w-auto md:w-27rem p-4 my-3 mx-auto border-round-lg">
    <h2 class="text-center mt-0 mb-4">Registro</h2>
    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <div class="flex flex-column gap-2 mb-3">
        <p class="m-0 font-bold">Número de empleado</p>
        <input 
          pInputText
          id="usernumber-reg"
          name="usernumber-reg"
          aria-describedby="usernumber-reg-input"
          [(ngModel)]="usernumber" 
          required
          placeholder="Ej. 90000000"
          autocomplete="off"
          (ngModelChange)="onInputChange()"
        />
      </div>
      <div class="flex flex-column gap-2 mb-3">
        <p class="m-0 font-bold">Nombre de usuario</p>
        <input 
          pInputText
          id="username-reg"
          name="username-reg"
          aria-describedby="username-reg-input"
          [(ngModel)]="username" 
          required
          placeholder="Nombre completo"
          autocomplete="off"
          (ngModelChange)="onInputChange()"
        />
      </div>
      <div class="flex flex-column gap-2 mb-3">
        <p class="m-0 font-bold">Correo electrónico</p>
        <input 
          pInputText
          type="email"
          id="email-reg"
          name="email-reg"
          aria-describedby="email-reg-input"
          [(ngModel)]="email" 
          required
          placeholder="ejemplo@coppel.com"
          autocomplete="off"
          (ngModelChange)="onInputChange()"
        />
      </div>
      <div class=" flex flex-column gap-2 mb-3">
        <div class="flex mb-2" >
          <p class=" m-0 font-bold mt-auto">Contraseña</p>
          <p-badge
            class="ml-2"
            [pTooltip]="tooltipContent"  
            value="i" severity="contrast"
            tooltipPosition="right" 
            [style]="{'min-width': '20px', 'height': '22px', 'vertical-align': 'middle'}" />
            <ng-template #tooltipContent>
                <div class="flex align-items-center text-sm">
                  <p>Crea una contraseña segura con almenos <b>12 caracteres, letras, números y símbolos combinados.</b></p>
                </div>
            </ng-template>
        </div>
        <p-password 
          inputId="passworduser-reg"
          name="passworduser-reg"
          aria-describedby="passworduser-reg-input"
          [style]="{width : '100%'}"
          [inputStyle]="{width : '100%'}"
          [(ngModel)]="password" 
          [feedback]="false" 
          [toggleMask]="true"
          required
          placeholder="Contraseña"
          autocomplete="off"
          (ngModelChange)="onInputChange()"
        />
      </div>
      <div class=" flex flex-column gap-2 mb-3">
        <p class="m-0 font-bold">Confirmar contraseña</p>
        <p-password 
          inputId="passworduserconf-reg"
          name="passworduserconf-reg"
          aria-describedby="passworduserconf-reg-input"
          [style]="{width : '100%'}"
          [inputStyle]="{width : '100%'}"
          [(ngModel)]="confirmPassword" 
          [feedback]="false" 
          [toggleMask]="true"
          required
          placeholder="Confirma tu contraseña"
          autocomplete="off"
          (ngModelChange)="onInputChange()"
        />
      </div>
      <div class="flex align-items-center gap-2 mb-3">
        <p-checkbox [(ngModel)]="termAccepted" 
          [binary]="true" name="termAccepted" 
          required (click)="showTerms(true)"
          (ngModelChange)="onInputChange()
        "/>
        <p class="text-sm">He leído y acepto los <b class="c-pointer" (click)="showTerms()">Términos y condiciones de Servicio</b>.</p>
      </div>
      <div *ngIf="errorMessage" class="mb-3 text-red text-center">
        {{ errorMessage }}
      </div>
      <div class="flex flex-column gap-3 mt-4">
        <p-button 
          type="submit"  
          [label]="btnLabel" 
          styleClass="w-full"
          iconPos="right"
          [disabled]="registerForm.form.invalid || isRegister || isReady || !termAccepted" 
        />
        <p-button 
          class="text-center" 
          label="Iniciar sesión" 
          [link]="true" 
          (onClick)="onBack()"/>
      </div>
    </form>
  </section>
  <p-dialog 
    header="Términos y Condiciones Generales de Servicio RVIA" 
    [modal]="true" 
    [(visible)]="isShowTerms" 
    [style]="{ width: '50rem' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
      <div class="mb-2" *ngFor="let term of termsAndConditions">
        <h3 class="mb-2">
          {{ term.title }}
        </h3>
        <p [innerHTML]="term.content"></p>
      </div>
  </p-dialog>
</main>