.main-container{
  background-color: var(--bg-content); 
}

.register-container {
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .input-size {
    min-height: 134px;
  }
}

.newsize{
  width: 100%;
  max-width: 100%;

  @media (min-width: 768px) {
    max-width: 600px;
  }
}

:host ::ng-deep .p-steps-item-active .p-steps-item-label{
  color: var(--rvia-primary-color);
}

:host ::ng-deep .p-steps-item-active .p-steps-item-number{
  border-color: var(--rvia-primary-color);
  background-color: var(--rvia-primary-color);
  color: white;
} 

:host ::ng-deep .p-steps-item.p-disabled {
  opacity: 0.5;
}