<main class="layout">
  <nav class="navbar">
    <button class="hamburger" (click)="toggleSidebar()">
      ☰
    </button>
    <div class="user-info">
      <span class="username">{{ userLogged?.nom_usuario }}</span>
      <span class="separator">|</span>
      <span class="userposition">{{ userLogged?.position?.nom_puesto }}</span>
    </div>
  </nav>
  <nav class="sidebar" [ngClass]="{'active': sidebarActive}">
    <button class="close-sidebar" (click)="closeSidebar()">✖</button>
    <ul>
      <li *ngFor="let option of menuSidebar">
        <a routerLinkActive="active" [routerLink]="option.path">
          {{ option.name | titlecase }}
        </a>
      </li>
    </ul>
    <div class="logout-button sidebar-logout">
      <button (click)="logout()">
        <i class="pi pi-power-off"></i>
        <span class="ml-2">Cerrar sesión</span>
      </button>
    </div>
  </nav>
  <section class="content" [ngClass]="{'shifted': sidebarActive}">
    <router-outlet></router-outlet>
  </section>
</main>
