<main class="flex flex-col h-full w-full">
  <nav class="navbar flex justify-between items-center p-3">
    <button class="hamburger txt-title-color c-pointer text-2xl" (click)="toggleSidebar()">
      ☰
    </button>
    <user-badge />
  </nav>
  <nav class="sidebar fixed flex flex-col h-full text-white justify-between" [ngClass]="{'active': sidebarActive}">
    <button class="close-sidebar txt-title-color text-2xl c-pointer py-3 px-2" (click)="closeSidebar()">
      <i class="pi pi-arrow-left" style="font-size: 1.2rem;"></i>
    </button>
    <section class="flex flex-col p-2 sidebar-content mb-auto">
      <menu-list menuName="Menú" [menuItems]="menuSidebar" />
      <div 
        class="divider-rvia" 
        [ngClass]="userLogged()?.position?.nom_rol === Nom_rol.INVITADO ? 'mb-auto' : ''">
      </div>
      @if (userLogged()?.position?.nom_rol !== Nom_rol.INVITADO) {
        <menu-list [menuItems]="menuRvia"/>
        <div 
          class="divider-rvia mb-auto" 
          [ngClass]="userLogged()?.position?.nom_rol === Nom_rol.INVITADO ? 'mb-auto' : ''">
        </div>
      }
      @if(userLogged()?.position?.nom_rol === Nom_rol.ADMINISTRADOR){
        <div class="mt-auto">
          <menu-list class="mt-2" menuName="Herramientas" [menuItems]="menuTools" />
          <div 
            class="divider-rvia my-2" 
            [ngClass]="userLogged()?.position?.nom_rol === Nom_rol.INVITADO ? 'mb-auto' : ''">
          </div>
          <menu-list menuName="Administrador" [menuItems]="menuAdmin" />
          <div 
            class="divider-rvia mb-2">
          </div>
        </div>
      }
      <menu-list menuName="Mi cuenta" [menuItems]="menuSettings" />
    </section>
    <div class="logout-button p-2 pt-0 sidebar-logout">
      <div class="divider-rvia mb-2" [ngClass]="userLogged()?.position?.nom_rol === Nom_rol.INVITADO ? 'mb-auto' : ''"></div>
      <button 
        class="flex items-center justify-center text-white py-3 px-2 w-full text-base c-pointer rounded"
        (click)="logout()">
          <i class="pi pi-power-off mr-2"></i>
          <span class="ml-2">Cerrar sesión</span>
      </button>
      <div class="mt-1 text-pretty">
        @for (groupVersions of coreService.versions(); track $index) {
          <p class="core-version text-center opacity-50">
           {{ groupVersions }} 
          </p>
        }
      </div>
    </div>
  </nav>
  <section class="content flex-grow-1 h-full overflow-y-auto md:px-4 md:py-5" [ngClass]="{'shifted': sidebarActive}">
    <router-outlet></router-outlet>
  </section>
</main>
