.navbar {
  background-color: var(--bg-sidebar);
  border-bottom: 1px solid #ddd;

  .hamburger {
    background: none;
    border: none;
  }
}

.sidebar {
  background-color: var(--bg-sidebar) !important;
  border-right: 1px solid #ddd;
  left: -250px;
  opacity: 1;
  top: 0;
  transition: left 0.3s ease, background-color 0.3s ease;
  width: 250px;
  z-index: 1000;

  &.active {
    left: 0;
  }

  &-content{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;

    &::-webkit-scrollbar{
      width: 8px;
    }
  
    &::-webkit-scrollbar-button{
      display: none;
    } 
  
    &::-moz-scrollbar-button {
      display: none;
    }
  
    &::-webkit-scrollbar-track{
      background-color: #333;
    }
  
    &::-webkit-scrollbar-thumb{
      background-color: rgba(255, 255, 255, 0.2);;
      border-radius: 4px;
    
      &:hover{
        background-color: #555;
      }
    }
  }

  .close-sidebar {
    align-self: flex-end;
    background: none;
    border: none;
  }

  .logout-button {
    button {
      background-color: var(--rvia-primary-color);
      border: none;
      transition: background-color 0.3s ease;
      
      &:hover {
        background-color: var(--hover-rvia-btn-color);
      }
    }
  }
}

.content {
  background-color: var(--bg-content);
  transition: margin-left 0.3s ease;
  margin-left: 0;

  &.shifted {
    margin-left: 250px;
  }
}

.divider-rvia{
  border: 0.5px solid var(--hover-rvia-primary-color);
}

@media (max-width: 768px) {
  .sidebar {
    left: -100%;
    width: 100%;

    &.active {
      left: 0;
      width: 250px;
    }
  }

  .navbar-logout {
    display: none;
  }

  .sidebar-logout {
    display: block;
  }

  .content.shifted {
    margin-left: 0;
  }
}

.core-version {
  font-size: 9px;
  color: var(--txt-color);
}