.title{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    h1{
        font-size: 96px;
        margin-bottom: 0;
        text-decoration: underline;
    }
}
