
<main class="px-4 pb-4">
    <div *ngIf="isLoadingData; else formCSV" class="card flex justify-content-center my-6">
        <p-progressSpinner ariaLabel="loading" />
    </div>
 
    <ng-template #formCSV>
        <section class="flex flex-column justify-content-center">
            <div *ngIf="fileName && !isCsvInfoArray()" class="flex justify-content-center align-items-center">
                <i class="pi pi-exclamation-triangle mr-3 text-2xl" ></i>
                <p class="m-0">Actualmente este proyecto ya tiene un archivo .csv llamado <b>{{ fileName }}</b>. 
                    Puedes subir otro archivo que lo sobreescribirá.
                </p>
            </div>
            <p>Selecciona el archivo <b>.csv</b> de las vulnerabilidades para el aplicativo <b>{{ app.nom_aplicacion }}.</b></p>
            <form [formGroup]="formFile" (ngSubmit)="onSubmit()">
                <div class="flex-auto flex flex-column justify-content-center align-items-center"> 
                    <p-inputGroup class="mx-auto w-7 mt-4">
                        <button 
                            type="button" pButton 
                            label="Buscar" 
                            (click)="openSearch()">
                        </button>
                        <input type="text" pInputText 
                          id="inputNameZip"
                          placeholder="Selecciona tu archivo" 
                          disabled="true" readonly
                          [value]="fileName"/>
                    </p-inputGroup>
                    <span *ngIf="isLoading" class="mt-2 font-italic text-500">Cargando ...</span>
                    <span *ngIf="!formFile.controls['csvFile'].errors && formFile.controls['csvFile'].value && !isLoading" 
                        class="mt-2 text-500">
                            Tamaño: {{ sizeFile.toFixed(2)}} MB 
                    </span>
                    <span *ngIf="formFile.controls['csvFile'].errors?.['invalidTypeCSV']"
                        class="mt-3 font-italic text-red-500">
                        Error al cargar el archivo, extensiones válidas <b>.csv</b>
                    </span>
                    <input id="input-csv" type="file" accept=".csv" #csvFile (change)="onFileSelected($event)" style="display: none;">
                </div>
                <div *ngIf="!formFile.controls['csvFile'].errors && formFile.controls['csvFile'].value && !isLoading" 
                    class="flex justify-content-evenly mt-3">
                    <p-button 
                        label="Cancelar" 
                        [link]="true"
                        (onClick)="cancel()"
                    />
                    <p-button 
                      [label]="isUploadFile ? 'Subiendo...' : 'Subir'" 
                      severity="success" 
                      icon="pi pi-arrow-right" 
                      iconPos="right"
                      class="ml-auto"
                      [loading]="isUploadFile" 
                      type="submit"
                    />
                </div>
            </form>
        </section>
    </ng-template>
</main>